/* Global settings */
*
{	
/**
    border-style:solid;
    border-width: 1;
    border-color: #000000;
/**/
}

table
{
    /* The font size must be set to keep it as same as the body font size. 
       Otherwise the font size will be 100% of browser default size
       instead of 100% of body font size. 
    */
    font-size:8pt;
}

div
{
    padding-left:0;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    
    overflow: hidden;
    position: absolute;
}

body
{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    
    overflow: hidden;
    
    background-color: #465E79;

    color: black;
    font-family:Tahoma;
    font-size: 8pt;
    
    direction:ltr;
}

#BorderFrame
{
    width: 100%;
    height: 100%;
}

#MainFrame
{
    width: 100%;
    height: 100%;
}

#BrandArea
{
    position: relative;
    
    width: 100%;
    height: 46;
    
    /*Add the background color for the case 
    that the image is not available*/
    background-color: #B1BCCD; 
    background-image:url("img/header-back.gif");
}

#WorkArea
{
    position:relative;

    width:100%;
    height:100%;
    
    background-color: #465E79;
}

#PreloadAnimationArea
{
    padding-top:112px;
    
    width: 100%;
    
    text-align: center;
}

/* brand settings */
#BrandPane
{
}

#NotificationText
{
    text-align: left;
}

#ErrorPane
{
    background-color: #465E79;
}

#ErrorPaneText
{
    padding-top:112px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
    font-size: 11pt;
    color: #D3DEEC;
    
    text-align: center;
}

#ErrorPaneButton
{
    height: 23px;
}

/* download frame settings */
#DownloadFrame
{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 112px;
    padding-bottom: 50px;
   
    text-align: center;
}

#DownloadSubject
{
    position: relative;
    
    font-size: 24pt;
    color: #D3DEEC;
}

#DownloadMeetingInfo
{
    margin-top: 34px;
    margin-bottom: 59px;
    
    position: relative;
    
    font-size: 13pt;
    color: #EFFBFF;
}

#DownloadPrompt
{
    margin-bottom:12px;
    
    position: relative;
    font-size: 13pt;
    color: #EFFBFF;
}

#DownloadAnimation
{
    position: relative;
}

#DownloadSeperatorWrapper
{
    position: relative;
    display: block;

    margin-top: 38px;
    margin-bottom: 43px;
}

#DownloadSeperator
{
}

#DownloadBrowserSetting
{
    /*
    border-style: solid;
    border-width: 1;
    border-color: #5B748F;
    
    text-align: left;
    */
    font-size: 11pt;
    color: #BBD1EE;
    
    position: relative;
}

#DownloadContinueButtonArea
{
    margin-top: 39px;
    
    position: relative;

    height: 23px;

}
#DownloadContinueButton
{
    height: 23px;
}
#DownloadCloseButton
{
    height: 23px;
}

/* playback frame settings. */

#PlaybackFrame
{
    background-color: #5B748F;

    text-align: left;
}

#ControlPane
{
}

#PrimVideoPane
{
    background-color: #A2B4CA;
}

#PanoVideoPane
{
    background-color: #A2B4CA;
}

#IndexPane
{
    background-color: #AEC2DA;
}

#ContentIndex
{
    background-color: #EEF3FB;
    padding-left: 3;
    padding-right: 3;
    padding-top: 4;
    padding-bottom: 4;
}

#SpeakerIndex
{
    padding-left: 2;
    padding-right: 2;
    padding-top: 6;
    padding-bottom: 6;
    
    background-color: #EEF3FB;
}

#SpeakerIndexHeadSeperator
{
    margin-top: 3;
    margin-bottom: 4;
    
    height: 1;
    width: 100%;
    background-color: #C6D1DE;
}

#SpeakerIndexSelectAll
{
    padding-left: 4;
    padding-right: 4;
}

#SpeakerIndexDeselectAll
{
    padding-left: 4;
    padding-right: 4;
}

#DataPane
{
    background-color: #5B748F;
}

#dataPaneBackgroundWidget
{
    background-color: #FEEAA9;
    border-style: solid;
    border-color: #D7A54E;
    border-width: 1px;
}

#QaPane
{
    background-color: #AEC2DA;
}

#QaRenderer
{
    background-color: #EEF3FB;
    padding-left:2;
    padding-right:2;
    padding-top:3;
    padding-bottom:3;
}

#QaNoItemPrompt
{
    padding-left: 2;
    padding-right: 2;
    padding-top: 2;
    padding-bottom: 2;
    
    color: #808080;
}

#NotesPane
{
    background-color: #AEC2DA;
}

#ConfirmPane
{
    background-image:url("img/start-pg-background.gif");
}

#ConfirmPaneButtonArea
{  
    height: 23px;
}

#NotesRenderer
{
    background-color: #EEF3FB;
    padding-left: 2;
    padding-right: 2;
    padding-top: 3;
    padding-bottom: 3;
}

#MainVertSplitter
{
    background-color: #5B748F;
}

#MainHorzSplitter
{
    background-color: #5B748F;
}

#DataSplitter
{
    background-color: #5B748F;
}

#AudioPane
{
}

/* Logo pane settings */

#ProductLogo
{
}

#CorpLogo
{
}

/* Download pane settings */

#SubjectText
{
    font-size: 150%;
}

#StartTimeText
{
    font-size: 150%;
}

#StopTimeText
{
    font-size: 150%;
}

#DurationText
{
    font-size: 150%;
}

#BrowserSettings
{
    border-color: #AEC2DA;
    padding-left: 6;
    padding-top:6;
    padding-right:6;
    padding-bottom:6;
}


/* Controller settings */
#TimeSliderElapsed
{
    background-color: #00c000;
}

#TimeSliderUnelapsed
{
    background-color: #00c0f0;
}

#TimeSliderTopLine
{
    background-color:#425D7C;
}

#TimeSliderBottomLine
{
    background-color:#A19F9F;
}

#TimeSliderSlider
{
    background-color: #ffff00;
}

/* Video pane settings */

#PrimVideoRenderer
{
    background-color: #000000;
    color: #ffffff;

    font-size: 20pt;
    text-align: center;
}

#PanoVideoRenderer
{
    background-color: #000000;
    color: #ffffff;
    
    font-size: 20pt;
    text-align: center;
}

#textRenderer
{
    background-color: #ffffff;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 10;
    padding-right: 10;
    overflow: auto;
}

#mmcWmvWidget
{
    background-color: #000000;
    color: #ffffff;
    
    font-size: 20pt;
    text-align: center;
}

#mmcWmvWidget_Wrapper
{
    background-color: #808080;
    overflow: auto;
}

#BizCardRenderer
{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
}

#BizCardRenderer_Table
{
}

#BizCard_Name
{
    font-weight: bold;
}

#BizCard_Email
{
    text-decoration: underline;
    color: #0000ff;
}

#webRenderer
{
    background-color: #EEF3FB;
    
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 14px;
    padding-bottom: 70px;
}

#WebUrl
{
    color: #161D2D;
    font-weight: bold;
    font-size: 10pt;
    
    position: relative;

    margin-bottom:14px;
}

#WebWarning
{
    color: #161D2D;
    font-size: 8pt;
    
    position: relative;
    
    margin-bottom:14px;
}

#WebSnapshotBound
{
    position: relative;
}

#WebSnapshotBorder
{
    border-style: solid;
    border-width: 1px;
    border-color: #41454e;
}

#WebSnapshot
{
    /* For IE only to show the shadow of the image */
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#000000,strength=10);   
}

#asWmvWidget
{
    background-color: #000000;
    color: #ffffff;
    
    font-size: 20pt;
    text-align: center;
}

#asImageWidget
{
    background-color: #EEF3FB;
}

#AsContentStaticText
{
    color: #3A4E62;
    font-size: 14pt;
}

#DummyRenderer
{
    background-color: #EEF3FB;

    padding-top: 79px;
    text-align: center;
}

#DummySubjectText
{
    position: relative;
    
    padding-bottom: 33px;
    
    font-size: 18pt;
    color: #161D2D;
}

#DummyTimeText
{
    position: relative;
    
    font-size: 10pt;
    color: #161D2D;
}

.ContentIndexNormalItem
{
}

.ContentIndexHighlightedItem
{
    background-image: url("img/thumbnail-selection.gif" );
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1;
    border-color: #D7A54E;
}

.ContentIndexSeperator
{
    height: 4;
}

.SpeakerIndexItem
{
    padding-top: 1;
    padding-bottom: 1;
    padding-left: 1;
    padding-right: 1;
}

.SpeakerIndexNormalName
{
    font-weight:bold;
    height: 21;
    
    padding-left: 4;
    padding-right: 4;

}

.SpeakerIndexHighlightedName
{
    font-weight:bold;
    height: 21;

    padding-left: 3;
    padding-right: 3;
    
    border-style: solid;
    border-width: 1;
    border-color: #D7A54E;

    background-image: url("img/index-selected-name.gif");    
}

.SpeakerIndexTimeList
{
    padding-left: 47;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1;
}

.SpeakerIndexNormalTime
{
    height: 21;
    
    padding-left: 3;
    padding-top: 3;
}

.SpeakerIndexHighlightedTime
{
    height: 21;
    
    padding-left: 2;
    padding-top: 2;

    border-style: solid;
    border-width: 1;
    border-color: #D7A54E;

    background-image: url("img/index-selected-time.gif");    
}

.QaNormalItem
{
    padding-top: 3;
    padding-left: 3;
    padding-right: 3;
    padding-bottom: 3;
}

.QaHighlightedItem
{
    padding-top: 2;
    padding-left: 2;
    padding-right: 2;
    padding-bottom: 2;

    background-color:#FEEAA9;
    border-width:1;
    border-style:solid;
    border-color:#D7A54E;
}

.QaSeperator
{
    height: 4;
}

.FrameTitle
{
    background-image: url("img/frame-header.gif");
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 12;
    font-weight: bold;
    padding-left: 6;
    padding-top: 3;
}

.IndexTabNormalLeft
{
    background-image: url("img/tab-unfocused-left.gif");
    width: 8px;
}

.IndexTabNormalRight
{
    background-image: url("img/tab-unfocused-right.gif");
    width: 8px;
}

.IndexTabNormalMiddle
{
    background-image: url("img/tab-unfocused-middle.gif");
    background-repeat: repeat-x;
}

.IndexTabHighlightedLeft
{
    background-image: url("img/tab-left.gif");
    width: 8px;

}

.IndexTabHighlightedRight
{
    background-image: url("img/tab-right.gif");
    width: 8px;
}

.IndexTabHighlightedMiddle
{
    background-image: url("img/tab-middle.gif");
    background-repeat: repeat-x;
}

.IndexTab
{
    background-image: url("img/tab-back.gif");
    background-repeat: repeat-x; 
}

.ButtonLeft
{
    background-image: url("img/button-left.gif");
    width: 2px;
    height: 100%;
}

.ButtonRight
{
    background-image: url("img/button-right.gif");
    width: 2px;
    height: 100%;
}

.ButtonMiddle
{
    background-image: url("img/button-middle.gif");
    background-repeat: repeat-x;
    height: 100%;
}

/* List pane settings */

/* Content pane settings */

/* Annotation pane settings */

/* Menu Related */
.MenuTable
{
}

.MenuItemTitle
{
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #354061;
}

.MenuItemDesc
{
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	color: #354061;
}

.MenuItemCheckCell
{
}

.MenuItemCheckArea
{
	width:26px;
	height:100%;
	padding-left:3px;
	padding-top:3px;
}

.MenuLeftBackArea
{
	z-index:0;
    background-image: url("img/menu-left-back.png");
    background-repeat: repeat-y;
	width:26px;	
}

.MenuItemCheckSymbArea
{
}

.MenuItemSelected
{
    border-style: solid;
    border-width: 1;
    border-color: #D7A54E;
}

.MenuItemNormal
{
	
}

.MenuItemPopupCell
{
	width:12px;
}


